*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.mainbg
{
    background-image: linear-gradient(to top right, rgb(153, 226, 229), rgb(108, 77, 148), rgb(49, 42, 110));
    min-height: 100vh;
    position: relative;
}

.maincontentwrap
{
    padding: 50px 150px;
    border: 3px solid red;
}

.maincontent
{
    border: 1px outset lightskyblue;
    border-radius: 15px;
    padding: 50px 50px;
    background-image: linear-gradient(to bottom right, rgba(125, 193, 224, 0.5), rgba(70, 56, 155, 0.3));
    backdrop-filter: blur(5px);
}

footer
{
    background-color: black;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
}